
<div class="img1" >
  <nav>
    <div class="menu">
      <div class="logo">
        <a class="nav_title" href="#">DevComApp</a>

      </div>
      <ul>
        <li><a href=""  >Home</a></li>

        <div class="dropdown">
          <button class="dropbtn">Admin
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a routerLink="dev-list" >Developer List</a>
            
          </div>
        </div>
        <li><a routerLink="addNew" >New Dev</a></li>
        <li><a [routerLink]="['/devDetails', devId]">My Profile</a></li>
        
        
       
      
        <li><a routerLink="feed-list"> Feeds</a></li>
        <li> <a routerLink="create-feed" style="margin-right: 150px;"> Ask a Query</a>
        </li>
        <div class="dropdown">
          <button class="dropbtn"  >Login
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a routerLink="admin-login" >Admin</a>
            <a routerLink="check-login">Developer</a>
          </div>
        </div>
        <li><a routerLink="admin-logout">Logout</a></li>
      </ul>
    </div>
    
  </nav>
  <div class="pages">
    <router-outlet></router-outlet>
  </div>
</div>


