<div class='dev'>

    <h3 style="text-align:center"> Create Developer</h3>

    <form #devForm='ngForm' (submit)='createNew(devForm.value)'>
        <div class='form-group'>
            <label for='eid'>Developer Id</label>
            <input id='eid' class='form-control' type='number' ngModel name='devId' #tempId='ngModel' required>
        </div>
        <div *ngIf='tempId.touched && tempId.invalid' class='alert alert-danger'>
            OOPS! You missed entering devid
        </div>

        <div class='form-group'>
            <label for='nm'>Name</label>
            <input id='nm' class='form-control' type='text' ngModel name='name' #tname='ngModel' required minlength="5">
        </div>
        <div *ngIf='tname.touched && tname.invalid'>
            <div *ngIf='tname.errors.required' class='alert alert-danger'>
                Please enter name
            </div>
            <div *ngIf='tname.errors.minlength' class='alert alert-danger'>
                Name should be minimum 5 letters
            </div>
        </div>
        <div class='form-group'>
            <label for='email'>Email</label>
            <input id='email' class='form-control' type='email' ngModel #temail='ngModel' required name='email'>
        </div>
        <div *ngIf='temail.touched && temail.invalid' class='alert alert-danger'>
            Please enter Email
        </div>


        <div class='form-group'>
            <label for='skillLevel'>Skill Level</label>
            <input id='skillLevel' class='form-control' type='text' ngModel #tskill='ngModel' required name='skillLevel'>
        </div>
        <div *ngIf='tskill.touched && tskill.invalid' class='alert alert-danger'>
            Please enter Skill Level
        </div>


        <div class='form-group'>
            <label for='memberSince'>Member Since</label>
            <input id='memberSince' class='form-control' type='date' ngModel #tmembersince='ngModel' required name='memberSince'>
        </div>
        <div *ngIf='tmembersince.touched && tmembersince.invalid' class='alert alert-danger'>
            Please enterthe Date
        </div>


        <div class='form-group'>
            <label for='totalFeeds'>Total Feeds</label>
            <input id='totalFeeds' class='form-control' type='number' ngModel #tfeeds='ngModel' required name='totalFeeds'>
        </div>
        <div *ngIf='tfeeds.touched && tfeeds.invalid' class='alert alert-danger'>
            Enter feeds
        </div>

        <div class='form-group'>
            <label for='user'>User</label>
            <input id='user' class='form-control' type='text' ngModel #tuser='ngModel' required name='user'>
        </div>
        <div *ngIf='tuser.touched && tuser.invalid' class='alert alert-danger'>
            Please specify the user
        </div>

        <div class='form-group'>
            <label for='feedList'>Feed List</label>
            <input id='feedList' class='form-control' type='number' ngModel #tfeedlist='ngModel' required name='feedList'>
        </div>
        <div *ngIf='tfeedList.touched && tfeedList.invalid' class='alert alert-danger'>
            Please specify the feed list
        </div>


        <div class='form-group'>
            <label for='isVerified'>Is Verified</label>
            <input id='isVerified' class='form-control' type='text' ngModel #tverified='ngModel' required name='isVerified'>
        </div>
        <div *ngIf='tverified.touched && tverified.invalid' class='alert alert-danger'>
            Checks for verification
        </div>

        <div class='form-group'>
            <label for='isBlocked'>Is Blocked</label>
            <input id='isBlocked' class='form-control' type='text' ngModel #tblocked='ngModel' required name='isBlocked'>
        </div>
        <div *ngIf='tblocked.touched && tblocked.invalid' class='alert alert-danger'>
            Block status
        </div>


        <button type='submit' class='btn btn-primary btn-block' [disabled]='devForm.invalid'>Submit</button>
    </form>


<p *ngIf='message != null' [ngClass]='msgClass' (click)="gotoList()">{{message}}! Click to go back</p>

</div>