<div class='bg-img'>

    <h3 style="text-align:center" style="width: 400px;" style="text-align:center"> Create Developer</h3>

    <form #devForm='ngForm' (submit)='createNew(devForm.value)' class="container">
        <div class='form-group'>
            <label for='eid'>Developer Id</label>
            <input id='eid' class='form-control' type='number' ngModel name='devId' #tdevId='ngModel' required>
        </div>
        <div *ngIf='tdevId.touched && tdevId.invalid' class='alert alert-danger'>
            OOPS! You missed entering devid
        </div>

        <div class='form-group'>
            <label for='nm'>Name</label>
            <input id='nm' class='form-control' placeholder="Your Name.." type='text' ngModel name='name' #tname='ngModel' required minlength="5">
        </div>
        <div *ngIf='tname.touched && tname.invalid'>
            <div *ngIf='tname.errors.required' class='alert alert-danger'>
                Please enter name
            </div>
            <div *ngIf='tname.errors.minlength' class='alert alert-danger'>
                Name should be minimum 5 letters
            </div>
        </div>
        <div class='form-group'>
            <label for='email'>Email</label>
            <input id='email' class='form-control' placeholder="abcd@gmail.com" type='email' ngModel #temail='ngModel' required name='email' >
        </div>
        <div *ngIf='temail.touched && temail.invalid' class='alert alert-danger'>
            Please enter correct Email
        </div>


        <div class='form-group'>
            <label for='skillLevel'>Skill Level</label>
            <input id='skillLevel' class='form-control' placeholder="BEGINNER, INTERMEDIATE, EXPERT"  type='skillLevel' ngModel name='skillLevel' #tskill='ngModel' required>
        </div>
        <div *ngIf='tskill.touched && tskill.invalid'>
            <div *ngIf='tskill.errors.required' class='alert alert-danger'>
                Please enter your Skill Level
            </div>
        </div>
        

        <div class='form-group'>
            <label for='memberSince'>Member Since</label>
            <input id='memberSince' class='form-control' type='date' ngModel #tmembersince='ngModel' required name='memberSince'>
        </div>
        <div *ngIf='tmembersince.touched && tmembersince.invalid' class='alert alert-danger'>
            Please enter the Date
        </div>

        <div class='form-group'>
            <label for='userId'>User ID</label>
            <input id='userId' class='form-control' type='text' ngModel #tuserid='ngModel' required name='userId'>
        </div>
        <div *ngIf='tuserid.touched && tuserid.invalid' class='alert alert-danger'>
            Please enter User Id
        </div>


       


        <button type='submit' class='btn btn-outline-success' [disabled]='devForm.invalid'>Submit</button>
    </form>


<p *ngIf='message != null' [ngClass]='msgClass' (click)="gotoList()">{{message}}! Click to go back</p>
<br>

</div> 