
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer Community App</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>



    <div class="img"></div>
    <div class="center">
        <div class="title">Developer Community App</div>
        <div class="sub_title">Developer Community App is a place to gain and share knowledge..</div>
        <div class="sub_title1"> It's a platform to ask questions and connect with people who contribute unique insights
            and
            quality answers</div>
        <div class="btns">
            <button>About Us</button>
        </div>
    </div>
    

</body>

</html>