<!-- <button (click)='updated()' class='btn btn-success btn-block'>Update</button>
<p *ngIf='message != null' [ngClass]='msgClass' (click)="gotoList()">{{message}}! Click to go back</p> -->

<div class='container'>
    
    <h2 > Update Developer Details</h2>
    
    <table  id = "update" class='table'>
        <tr>
            <td style="background-color: #04AA6D;">Developer Id</td>
            <td><input type='text' class='form-control' [(ngModel)]='developer.devId' readonly></td>
        </tr>
        <tr>
            <td  style="background-color: #04AA6D;">Name</td>
            <td><input type='text' class='form-control' [(ngModel)]='developer.name'></td>
        </tr>
        <tr>
            <td  style="background-color: #04AA6D;">Email</td>
            <td><input type='text' class='form-control' [(ngModel)]='developer.email'></td>
        </tr>
        <tr>
            <td style="background-color: #04AA6D;">Skill Level</td>
            <td><input type='text' class='form-control' [(ngModel)]='developer.skillLevel'></td>
        </tr>
        <tr>
            <td style="background-color: #04AA6D;">Member Since</td>
            <td><input type='text' class='form-control' [(ngModel)]='developer.memberSince'></td>
        </tr>
        

    </table>
    <button (click)='updated()' class='btn btn-success btn-block'>Update</button>

    <button (click)='gotoList()' class="btn btn-primary" style="margin-left: 20px;">Close</button>

    <p *ngIf='message != null' [ngClass]='msgClass' (click)="gotoList()">{{message}}! Click to go back</p>
   
        
</div>