<div class='container' *ngIf="openmessage==null" style='width:400px;color: white;margin: auto;padding-top: 75px;'>
  <form #form="ngForm" (ngSubmit)="signIn(form.value)">
    <h2>Login </h2>
    <div class="form-group">
      <label for="person">User ID</label>
      <input type="text" id="person" name="userId" ngModel #userId='ngModel' class="form-control" required
        placeholder="User Id">
    </div>
    <div *ngIf='userId.touched && userId.invalid' class='alert alert-danger'>
      User ID Required
    </div>
    <div class='form-group'>
      <label for="pwd">Password</label>
      <input type="password" id="pwd" name="password" ngModel #password='ngModel' class="form-control" required
        placeholder="Password">
    </div>
    <div *ngIf='password.touched && password.invalid' class='alert alert-danger'>
      Password Required
    </div>
    <button type="submit" class="btn btn-success " [disabled]='form.invalid'>Sign in</button>
    &nbsp;&nbsp;
    <a routerLink="/create-user" class="btn btn-link">Register</a>
  </form>
  <div *ngIf="message!=null" class="alert alert-danger">{{message}}</div>
</div>
<div *ngIf="openmessage!=null" style="color: white;" (click)="reload()">
  <h4>{{openmessage}}</h4>
</div>