<p>create-feed works!</p>
    <!-- feedId:number;
	query:string;
	feedTime:Date;
    feedUpdateTime:Date;
    topic:string;	// Programming/Java/Testing
	//relevance:number;	// Likes on Feed increase relevance
	developer:Developer;
    responses :number ;
	totalComments:number; -->

<div class='feed'>
    <form #feedForm='ngForm' (submit)='createNew(feedForm.value)'>

        <div class='form-group'>
            <label for='nm'>Query</label>
            <input id='qy' class='form-control' type='text' ngModel name='query' #tquery='ngModel' required>
        </div>
        <div *ngIf='tquery.touched && tquery.invalid'>
            <div *ngIf='tquery.errors.required' class='alert alert-danger'>
                Please enter your query
            </div>
            
        </div>

        <div class='form-group'>
            <label for='topic'>Topic</label>
            <input id='tp' class='form-control' type='string' ngModel #ttopic='ngModel' required>
        </div>
        <div *ngIf='ttopic.touched && ttopic.invalid' class='alert alert-danger'>
            Please select your topic from below 3 options
        </div>
    </form>



</div>    
<p *ngIf='message != null' [ngClass]='msgClass' (click)="gotoList()">{{message}}! Click to go back</p>