<p>user-list works!</p>
<div class='maindiv'>
    <h2 style="color:#FF5733">{{header}}</h2>
    <table class='table  table-striped table-hover'  *ngIf='failMessage==null'>
        <tr>
            <th>USER ID</th>
            <th>PASSWORD</th>
            <th>ROLE</th>
            
            <th>ACTION</th>
        </tr> 
        <tbody>
            <tr style="color:#e6005c" *ngFor='let feed of feeds' style='padding:2px'>
                <td>{{user.userId}}</td>
                <td>{{user.password}}</td>
                <td>{{user.role}}</td>
               
            </tbody>

        </table>
        <div *ngIf='failMessage != null'>
            <h3>{{failMessage}}</h3>
        </div>
    
        <p *ngIf='message != null' class='alert alert-danger' (click)='message=null'>
            {{message}}
        </p>
    
    </div>