<!--The  HTML element represents a thematic break between paragraph-level elements-->
<!-- The div element has no special meaning at all. It represents its children. -->
<!-- Contains CSS styling declarations to be applied to the element. -->
<div class>
  <!--The <input> HTML element is used to create interactive controls for web-based forms in order to accept data from the user-->
  <input type="text" placeholder="Enter Dev ID" style="margin-left:10px" ngModel #tempId='ngModel' [(ngModel)]='devId'
    required>
  <button (click)='getDeveloper()' class='btn btn-success' style="margin:6px">Get Details</button>
  <div *ngIf='tempId.touched && tempId.invalid'>
    <div *ngIf='tempId.errors.required' class='alert alert-danger' style="width:250px">
      Please Enter Developer Id
    </div>
  </div>
</div>

<h2>My Details</h2>
<div class="centered">
  <div class='maindiv'>
    <table id="details" class="styled-table" *ngIf="developer">
      <thead>
        <tr>
          <th>Dev ID: </th>
          <th>Name</th>
          <th>Email</th>
          <th>SkillLevel</th>
          <th>MemberSince</th>
          <TH>User Id</TH>
          <th>My Feeds</th>
          <th>Action</th>
        </tr>

      </thead>
      <tr>
        <td>{{developer.devId}}</td>
        <td>{{developer.name}}</td>
        <td>{{developer.email}}</td>
        <td>{{developer.skillLevel}}</td>
        <td>{{developer.memberSince}}</td>
        <td>{{developer.user.userId}}</td>

        <td><a [routerLink]=" ['/feed-filter',developer.devId]" class='btn btn-link'>My Feeds</a></td>
        <td><a [routerLink]="['/update-dev', developer.devId]" class='btn btn-info'
            style="margin-left: 20px;">Update</a></td>
      </tr>
      <tbody>
      </tbody>

    </table>
  </div>
  <div class='msg' *ngIf='message!=null'>
    {{message}}!! &nbsp; Click close to refresh
    <br>
    <!--The button element represents a button labeled by its contents-->
    <button type="button" class='msg1' (click)='refreshPage()'>Close</button>
  </div>

</div>