
<div class='bg-img'>
<h2>Developer Details</h2> 

<hr/>
<div *ngIf="developer" class = "container" >
  <div>
    <label><b>Developer ID: </b></label> {{developer.devId}}
  </div>
  <div>
    <label><b>Name: </b></label> {{developer.name}}
  </div>
  <div>
    <label><b>Email Id: </b></label> {{developer.email}}
  </div>  
  <div>
    <label><b>Skill Level: </b></label> {{developer.skillLevel}}
  </div>
  <div>
    <label><b>Member SInce: </b></label> {{developer.memberSince}}
  </div>
  <div>
    <!-- <label><b>Total Feeds: </b></label> {{developer.totalFeeds}} -->
  </div>
  <div>
    <label><b>User ID: </b></label> {{developer.user.userId}}
  </div>
 
<div>
  <label><b>My Feeds: </b></label><a [routerLink]=" ['/feed-filter',developer.devId]" class ='btn btn-link'>My Feeds</a></div>
  <div>
    <label><b>Is Verified: </b></label> {{developer.isVerified}}
  </div>
  <div>
    <label><b>Is Blocked: </b></label> {{developer.isBlocked}}
  </div>
  <button (click)="list()" class="btn btn-secondary">Close</button><br>
</div>
<br>
<br>


</div>