<!-- <div class="img"> -->

    <div  style="margin: auto;margin-top: 20px; width: 400px;" >
    <h2 >ADD ADMIN</h2>

    <form #addAdminForm="ngForm" novalidate>
        <div class="form-group" >
            <label for="adminId" >Admin Id</label>
            <input type="text" name="adminId" class="form-control"
            placeholder="Enter the Admin Id" required  
            #adminId="ngModel"
            [(ngModel)]= "admin.adminId"
            [ngClass]= "{'is-invalid':adminId.errors && (adminId.touched || adminId.dirty),'is-valid':adName.valid}" >
        </div>
        <p style="color: red;"  *ngIf="adminId.touched && adminId.errors">
            Admin Id is rquired
        </p>


    <form #addAdminForm="ngForm" novalidate>
            <div class="form-group" >
                <label for="adName" >Admin Name</label>
                <input type="text" name="adName" class="form-control"
                placeholder="Enter the Admin name" required  
                #adName="ngModel"
                [(ngModel)]= "admin.adName"
                [ngClass]= "{'is-invalid':adName.errors && (adName.touched || adName.dirty),'is-valid':adName.valid}" >
            </div>
            <p style="color: red;"  *ngIf="adName.touched && adName.errors">
                Admin name is rquired
            </p>


            <div class="form-group" >
                <label for="adPassword" >adPassword</label>
                <input type="text" name="adPassword" class="form-control"
                placeholder="Enter the adPassword" required  
                #adPassword="ngModel"
                [(ngModel)]= "engineer.adPassword"
                [ngClass]= "{'is-invalid':adPassword.errors && (adPassword.touched || adPassword.dirty),'is-valid':adPassword.valid}" maxlength="20" minlength="5" >
            </div>
            <p style="color: red;"  *ngIf="adPassword.touched && adPassword.errors?.required" >adPassword is required</p>
            <p style="color: red;"  *ngIf="adPassword.touched && adPassword.errors?.minlength" >adPassword should conatin 5 to 20 characters</p>
      </form>
            
        <br>
            
    
            <button type="submit" [disabled]= "addAdminForm.invalid " class="btn btn-success" (click)= "onSubmit()">Save</button>
            &nbsp;
            <button style="margin-right: auto;" type="submit" class="btn btn-primary"  (click)= "addAdminForm.reset();  ">Reset</button>
    <p *ngIf="message != null" class="alert alert-success" >
    {{message}}
    </p>
    
    
    
