<p>update-feed works!</p>
<div class='feed'>
    <div *ngIf='failMessage==null'>
    <table  class='table' >
        
        <tr>
            <td>FEED ID</td>
            <td><input type='number' class='form-control' [(ngModel)]='feed.feedId' readonly></td>
        </tr>

        <tr>
            <td>QUERY</td>
            <td><input type='text'  class='form-control' [(ngModel)]='feed.query'></td>
        </tr>

        <!-- <tr>
            <td>FEED TIME</td>
            <td><input type='text'  class='form-control' [(ngModel)]='feed.feedTime'></td>
        </tr> -->

        <!-- <tr>
            <td>FEED UPDATED TIME</td>
            <td><input type='text'  class='form-control' [(ngModel)]='feed.feedUpdateTime'></td>
        </tr> -->

        
        <tr>
            <td>TOPIC</td>
            <td><input type='text' class='form-control' [(ngModel)]='feed.topic'></td>
        </tr>

        <!-- <tr>
            <td>RESPONSES</td>
            <td><input type='text'  class='form-control' [(ngModel)]='feed.responses'></td>
        </tr> -->
        
        <tr>
            <td>TOTAL COMMENTS</td>
            <td><input type='text'  class='form-control' [(ngModel)]='feed.totalComments'></td>
        </tr>
        
        <!-- <tr>
            <td>DEVELOPER</td>
            <td><input type='text'  class='form-control' [(ngModel)]='feed.developer'></td>
        </tr> -->



    </table>
    <button (click)='update()' class='btn btn-success btn-block' >Update</button>

    </div>
    <div *ngIf='failMessage != null'>
        {{failMessage}}
        </div>
         
    <!-- Below message to be clicked to navigate back to emp-list component-->
    <p *ngIf='message != null' [ngClass]='msgClass' (click)='gotoList()'>
        {{message}}! Click to go back
    </p>
<br>
    <div *ngIf='validationMessages != null' (click)='validationMessages=null'>

        <p *ngFor='let msg of validationMessages' class='alert alert-danger'>
            {{msg}}
        </p>
    </div> 
</div>

