
<div class='container'>
    
    <h2>{{header}}</h2>
    <div class="form-group col-md-4">
        <input type="text" class="form-control"  placeholder="Enter keyword/topic/devId" [(ngModel)]="searchedKeyword">
      </div>
    <table id = "feedlist"  *ngIf='failMessage==null'>
        <tr>
            <th>FEED ID</th>
            <th>QUERY</th>
            <th>CREATED DATE AND TIME</th>
            <th>FEED UPDATED TIME</th> 
            <th>TOPIC</th>
            <th>DEVELOPER ID</th>
            <th>RESPONSES</th>
        
        </tr> 
        <tbody>
        <tr  *ngFor='let feed of feeds | filter:searchedKeyword'>
            <td>{{feed.feedId}}</td>
            <td>{{feed.query}}</td>
            <td>{{feed.feedTime}}</td>
            <td>{{feed.updateDateTime}}</td> 
            <td>{{feed.topic}}</td>
            <td>{{feed.developer.devId}}</td>
            <td><a [routerLink]=" ['/response-list',feed.feedId,feed.developer.devId]" class ='btn btn-primary'>Response</a></td>
            <!-- <td>
                <button class='btn btn-danger' (click)='delete(feed.feedId)'>Delete</button>
                
                <a [routerLink]="['/update-feed',feed.feedId]" class='btn btn-primary'>Modify</a>
                
            </td> -->
        </tr>
        </tbody>

    </table>
    <div *ngIf='failMessage != null'>
        <h3>{{failMessage}}</h3> 
    </div>

    <p *ngIf='message != null' class='alert alert-danger' (click)='message=null'>
        {{message}}
    </p>

</div>